.sideBar {
    background: #F4C088;
    width: 120px;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    .sideButton {
        background: #F0B088;
        width: 120px;
        height: 120px;
        color: #000;

        p {
            color: #fff;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
        }
    }
}
